*{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: lightblue;
}

header img{
    border-color: darkblue;
    border-radius: 5%;
}

legend,label{
    background-color: transparent;
}

.verde{
    background-color: rgb(193, 252, 193);
}

.amarelo{
    background-color: lightyellow;
}

#tituloid{
    background-color: wheat;
}

#tituloid > legend{
    font-size: larger;
}

#infoid,#perguntasid{
    background-color: whitesmoke;
}

#titulopoemaid,#autorid,#poemaid{
    text-align: center;
}

#titulopoemaid{
    font-size: x-large;
}

#autorid{
    font-size: large;
}

#poemaid{
    font-style: italic;
}

input[type="submit"]{
    background-color: black;
    color: white;
}

a:link{
    color: blueviolet;
}

a:visited{
    color:rgb(82, 81, 81);
}

a:hover{
    color: #2ba6fe;
}

a:active{
    color: crimson;
}

a:hover::after{
    content: "◀️";
}

a:hover::before{
    content: "▶️";
}

#indexp::first-letter{
    font-size: x-large;
}

#indexp::first-line{
    font-style: italic;
}