* {
    font-family: 'Oxygen', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, nav {
    display: grid;
    background: rgb(255,255,255,0.5);
    color: rgb(59, 59, 59);
    font-weight: bolder;
    font-size: larger;
    justify-content: center;
    align-items: center;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

body > p {
    color: white;
    align-self: center;
    margin-left: 5%;

    font-size: large;
    font-weight: bold;

    grid-area: bodyp;
}

@media only screen and (min-width:601px), (orientation:landscape) {
    body{
        display: grid;
        background-image: url(./images/amesterdao.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    
        grid-template-columns: auto 1fr;
        grid-template-rows: 5vh auto;
    
        grid-template-areas: 
            'header nav'
            'bodyp bodyp';
    }
}

@media only screen and (max-width:600px), (orientation:portrait) {
    body{
        display: grid;
        background-image: url(./images/amesterdao.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    
        grid-template-columns: auto;
        grid-template-rows: 5vh auto;
    
        grid-template-areas: 
            'header'
            'nav'
            'bodyp';
    }
}