* {
  box-sizing: border-box;
}

.grid-container header {  grid-area: header; background-color: plum;}
.grid-container nav {  grid-area: menu; }
.grid-container main {  grid-area: main; background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/04/1d/a9/fc/catedral-de-san-bravo.jpg?w=2000&h=-1&s=1");  background-size: cover; color: white;}
.grid-container aside {  grid-area: right; background-image: url(https://images.unsplash.com/photo-1614850523060-8da1d56ae167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBjb2xvdXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60); background-size: cover;}
.grid-container footer {  grid-area: footer; background-color: rgb(203, 242, 255);}
  
  .grid-container > * {
    background-color: beige;
    opacity: 0.8;
    text-align: center;
    padding: 10px 0;
    font-size: 4vw;
  }

  .grid-container header {
    font-size: 3vh;
  }

  .grid-container main,header {
    display: grid;
    font-size: small;
    font-weight: bold;
    color: black;
  }

  .grid-container main p {
    height: fit-content;
    background-color: rgb(255,255,255,0.5);
  }

  .grid-container footer {
    display: grid;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
  }

  .grid-container aside {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
  }

  .container-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 10px;
    padding: 10px;
    background-color: beige;
  }
  
  .container-right div {
    background-color: rgb(203, 242, 255);
    border: 1px solid;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  @media only screen and (min-width:601px), (orientation:landscape) {
    .grid-container {
      display: grid;
      height: 100vh;
      gap: 10px;
      padding: 10px;
      background-color: rgb(252, 174, 174);
    
      grid-template-areas:
        "header header  header"
        "menu   main    right"
        "footer footer  footer";
    
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 12% 68% 10%;
    }
  }
  
  @media only screen and (max-width:600px), (orientation:portrait) {
    .grid-container {
      display: grid;
      height: 100vh;
      gap: 10px;
      padding: 10px;
      background-color: rgb(252, 174, 174);
    
      grid-template-areas:
        "header"
        "menu"
        "main"
        "right"
        "footer";
    
      grid-template-columns: 1fr;
      grid-template-rows: 12% 25% 33% 12% 10%;
    }
  }